<p>{{{prompt}}}</p>
<div class="atw-singlewall-grid">
  <a class="atw-singlewall-btn" data-side="top" data-atw-choice-index="0" data-tooltip="Top">
    <i class="fa-solid fa-arrow-up"></i>
  </a>
  <a class="atw-singlewall-btn" data-side="left" data-atw-choice-index="1" data-tooltip="Left">
    <i class="fa-solid fa-arrow-left"></i>
  </a>
  <a class="atw-singlewall-btn" data-side="right" data-atw-choice-index="2" data-tooltip="Right">
    <i class="fa-solid fa-arrow-right"></i>
  </a>
  <a class="atw-singlewall-btn" data-side="bottom" data-atw-choice-index="3" data-tooltip="Bottom">
    <i class="fa-solid fa-arrow-down"></i>
  </a>
</div>
